* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
@font-face {
  font-family: "LeagueGothic";
  src: url("font/LeagueGothic-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Oswald";
  src: url("font/Oswald-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Seventeen";
  src: url("font/Seventeen.otf") format("opentype");
}

@font-face {
  font-family: "Telephone";
  src: url("font/Telephone.ttf") format("truetype");
}
@font-face {
  font-family: "Univers";
  src: url("font/UniversCondensed.ttf") format("truetype");
}

@font-face {
  font-family: "ghs";
  src: url("font/Contage_Bold.ttf") format("truetype");
}
@font-face {
  font-family: "ghs_thin";
  src: url("font/Tangerine_Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Rusilla";
  src: url("font/Rusilla_serif_bold.otf") format("opentype");
}
@font-face {
  font-family: "Kollera";
  src: url("font/Kollera_bold.otf") format("opentype");
}
@font-face {
  font-family: "erhard";
  src: url("font/Erhard.ttf") format("truetype");
}

body {
  background: #000000;
  /*border-style: double;
  border-color: #cce9fc;
  border-width: 5px;
  border-radius: 5px;*/
  border: 10px solid transparent;

  border-image: url(../images/bmf.png) 26 round;
}
body h1 {
  background: -webkit-linear-gradient(#1a8b00, #ffffff, #7fd4ff, #f80085);
  text-shadow: 2px 1px 2px #a7ffef;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Univers, "Sans-Serif";
  transition: ease-in 0.3s;
  text-align: center;
  justify-content: center;
  animation: intrue 2.5s ease-in 1;
}
body img {
  object-fit: cover;
  margin: 0 auto;
  padding: 0.3rem;
  border-color: #9affed;
  border-radius: 50%;
  border-style: double;
  border-width: 3px;
  text-align: center;
  justify-content: center;
  animation: image_animate 2s ease-in 1;
  opacity: 1;
}
body #name {
  text-shadow: 2px 1px 2px #ffffff;
  font-weight: 300;
  text-transform: uppercase;
  color: rgb(190, 255, 227);
  margin: 1rem;
  letter-spacing: 2px;
  font-family: ghs, "Sans-Serif";
  animation: name_ 0.5s ease-in 1;
}
body p {
  color: #fff;
}

body .social {
  margin: 0.5rem auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  animation: image_animate 3s ease-in 1;
}

body .social a {
  text-decoration: none;
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  width: 35px;
  height: 35px;
  padding: 3px;
  transition: 0.3s ease-in;
}
body .social a i {
  font-size: 20px;
}
body .social a:hover {
  background: radial-gradient(
    rgba(0, 250, 45, 0.51) 5%,
    rgba(239, 0, 250, 0.51) 15%,
    rgba(9, 34, 255, 0.404) 60%
  );
  color: #fff;
  width: 40px;
  height: 40px;
}
body #type_text {
  text-align: left;
  float: left;
  word-spacing: 3px;
  line-height: 1.7rem;
  padding: 0.3rem;
  font-weight: 300;
  color: #ffffff;
  font-family: Telephone, "Sans-Serif";
}
body #menu {
  float: right;
  outline: none;
  border: none;
  box-shadow: none;
  margin: 0.8rem;
  padding: 0 0.5rem;
  background: #81ffe9;
  border-radius: 4px;
}
body #menu i {
  color: #0019f7;
  font-weight: bolder;
  font-size: 18px;
}
