/* <-------DESKTOP DEVICES-----------> */
@media (max-width: 1200px) {
  body {
    margin: auto;
    width: 90%;
    height: 90%;
    text-align: center;
    justify-content: center;
  }
  body h1 {
    margin: 2% auto;
  }
  body img {
    width: 300px;
    height: 300px;
  }
  body #name {
    font-size: 1.7rem;
    word-spacing: 6px;
  }
  body .social {
    width: 50%;
  }
  body #type_text {
    font-size: 20px;
    margin: auto 8rem;
  }
}
/* <-------LAPTOP OR TABLET DEVICES-----------> */
@media (max-width: 900px) {
  body {
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    overflow: auto;
  }
  body h1 {
    margin: 15% auto;
  }
  body img {
    width: 200px;
    height: 200px;
  }
}
/* <-------MOBILE DEVICES-----------> */
@media (max-width: 400px) {
  body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
  }
  body h1 {
    margin: 5% auto;
    font-size: 2.2rem;
  }
  body img {
    width: 200px;
    height: 200px;
  }
  body #name {
    font-size: 1.5rem;
    word-spacing: 6px;
  }
  body .social {
    width: 70%;
  }
  body #type_text {
    font-size: 18px;
    margin: 0.5rem 1rem;
  }
}
